@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
#root {
  background-color: #efefef;
}
h2 {
    margin: 1.5rem 0 2.5rem;
}
header {
  background-color: #fdfdfd;
  padding: 1rem 0 2rem;
}
header > div:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #bbb;
  margin-bottom: 3rem;
}
header .logo {
  max-height: 60px;
}
header > .flexContainer > * {
    flex: 1;
}
header > .flexContainer > .content {
    flex-basis: 70%;
    padding-right: 6rem;
}
header > .flexContainer > figure {
    flex-basis: 30%;
}
/** categories **/
main {
  align-items: flex-start;
}
section {
    flex-basis: 70%;
    padding-right: 3rem;
}
section h2 {
    flex-basis: 100%;
}
.catContainer {
    text-align: left;
    padding: 2rem 0;
}
.meal {
    flex: 1 1 calc(50% - 2rem);
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 #bbb;
    cursor: pointer;
    transition: .2s ease;
}
.meal:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 2px #dddcdc;
}
.catContainer > .flexContainer {
    gap: 2rem;
}
.meal > * {
    flex: 1;
}
.meal > div.content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}
.meal > figure {
    flex-basis: calc(40% - 2rem);
    margin-left: 2rem;
}
.meal > div.content h3 {
    margin: 0 0 1rem;
}
.meal > div.content p {
    margin: 1.5rem 0 2rem;
}
.meal > figure img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.meal footer.flexContainer {
    justify-content: space-between;
    margin-top: auto;
}
.popular {
  color:orange;
  font-weight: bold;
  vertical-align: middle;
}
.popular svg {
    fill: orange;
}
/*** Panier ***/
aside#panier {
    flex-basis: 30%;
    margin-top: 4rem;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 #bbb;
    background-color: #fff;
    position: sticky;
    top: 2rem;
}
aside#panier header {
    background-color: #00CCBC;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    border-radius: 5px 5px 0 0;
}
#panier .content {
    padding: 0 2rem;
}
#panier .content li.flexContainer {
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.5rem;
}
#panier .buttons {
  flex: 0 0 75px;
  display: flex;
    justify-content: space-between;
}
#panier .title {
  flex: 1;
  padding: 0 1rem;
}
#panier .price {
  flex: 0 0 auto;
}
#panier button {
    background-color: transparent;
    border: 2px solid #00CCBC;
    color: #00CCBC;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
#panier button:hover {
    transform: scale(1.1);
    font-weight: 600;
}
#panier button[disabled] {
    border-color: #ccc;
    color: #ccc;
    cursor: auto;
    transform: scale(1) !important;
}
#panier .value {
  margin: 0 0.5rem;
}
#panier .content ul {
    padding: 1rem 0 2rem;
    border-bottom: 1px solid;
}
#panier li.flexContainer {
    justify-content: space-between;
}
#panier .ssTotal, #panier .frais {
    text-align: right;
    justify-content: space-between;
}
#panier .frais {
    border-bottom: 1px solid;
    padding-bottom: 2rem;
}
#panier footer {
  padding: 2rem;
  justify-content: space-between;
}
/**** API projecct ****/
header + nav ul {
  margin: 0;
  padding: 0;
  gap: 1rem;
}
header + nav ul a {
  color: #00b8a9;
}
section#populaires .flexContainer {
    gap: 2rem;
}
section#populaires .flexContainer > div {
    flex: 1;
}